body{
	font-family: 'Raleway', sans-serif !important;
}
[type="email"], [type="number"], [type="tel"], [type="url"] {
	direction: rtl !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-weight: 600 !important;
	}